@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-VariableFont_wght.ttf');
    font-family: 'Open Sans';
    src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

*{ 
    font-size:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #212121;
}
.container{
    max-width: 1400px;
    padding: 0 110px;
    
}
 input{
    outline: none;
 }
 ul{
    list-style: none;
 }
 a{
    color: inherit;
    text-decoration: none;
 }
 .line{
    margin: 34px 0;
    width: 170px;
    border: 0.5px solid #EC7979;
}
.title{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    text-align: center;
    text-transform: uppercase;
}
@media only screen and (max-width:750px){
    .line{
        margin: 10px 0;
    }
    .container{
        padding: 0 50px;
    }
    .title{
        font-size: 28px;
    }

}
@media only screen and (max-width:350px){
    .line{
        width: 134px;
    }
    .container{
        padding: 0 10px;
    }
    .title{
        font-size: 20px;
    }
}

/* START STYLE HEADER*/
.header{
    background-color: #000000;
}
.menu_header{
    display: flex;
    align-items: center;
}
.header_list{
    display: flex;
    gap: 48px;
}
.header_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_wrapper img{
    display: block;
    max-height: 70px;
}
.header_list li{
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
    transition: all 0.5s ease-in-out;
    
}
.header_list li:hover{
    color:#EC7979;
}
.header_list li:active{
    color:#AB4949;;
}
.header_burger{
    display: none;
   
}
.header_burger span{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    transition: all 0.2s ease;
}
.header_burger span:nth-child(2){
    transform: translateY(6px);
}
.header_burger span:nth-child(3){
    transform: translateY(12px);
}

.header.open .header_burger span:nth-child(2){
    opacity:0;
}
.header.open .header_burger span:nth-child(1){
    transform: rotate(45deg);
    top: 5px;
}
.header.open .header_burger span:nth-child(3){
    transform: rotate(-45deg);
    top: 5px;
}
@media only screen and (max-width:750px){
    .header_burger{
        top: 25px;
        display: block;
        position: relative;
        width: 24px;
        height: 18px;
    }
    .menu_header{
        position: fixed;
        width: 100%;
        position: absolute;
        top: -100%;
        right:0;
        transition: all 0.8s;
    }
    .menu_header.open{
        top: 55px;
        z-index: 5;
    }
    .header_list{
        padding-top: 20px;
        display: inline-block;
        background: #000;
        text-align: center;
        width: 100%;
    }
    .header_list li{
       padding-bottom: 20px;
    }
}


/*END STYLE HEADER*/


/* START STYLE SECTION BANNER*/

.section_banner{
    position: relative;
    background:url('./../assets/img/background2.png') center no-repeat;
    background-size: cover;
}
.section_banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.field_banner{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 4;
}
.logo_banner p{
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: 400;
    line-height: 70.31px; 
}
.logo_banner p span{
    color: #EC7979;
}
.title_banner{
    text-align: left;
    color: #FFFFFF;
    padding: 32px 0;
}
.text_banner{
    color: #FFFFFF;
    padding: 39px 0;
    max-width: 282px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.78px;
}
.btn_banner{
    padding: 11px 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn_banner:hover{
    border-color:#EC7979;
    color:#EC7979;
}
.btn_banner:active{
    background: #AB4949;
    color: #FFFFFF;
}
.card_banner{
    max-width: 370px;
    border-radius: 10px;
    background: #FFFFFF;
}
.btn_card{
    display: block;
}
.card_banner_container{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_card{
    padding: 11px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}
.title_card span{
    font-size: 20px;
    color:#EC7979;
}
.form_container{
    padding: 44px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
   
}
.registration_field{
    min-width: 252px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}
.registration_field::placeholder{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: #BDBDBD;
}
.btn_card{
    padding: 18px 0;
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
    background-color: #EC7979;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.btn_card:hover{
    background: #AB4949;
}
.btn_card:active{
    background:#EC7979 ;
    border: 1px solid #AB4949;
}

@media only screen and (max-width:750px){
    .field_banner{
        padding: 50px 0;
    }
    .card_banner_container{
        min-width: 300px;
    }
}
@media only screen and (max-width:600px){
    .logo_banner{
        display: none;
    }
    .title_banner{
        padding: 15px 0;
    }
    .text_banner{
       padding: 15px 0;
    }
    .field_banner{
        flex-direction: column;
        padding: 20px 0;
    }
    .left_side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .right_side{
        padding-top: 20px;
    }
}

/*END STYLE SECTION BANNER*/

/*START STYLE SOCIAL MEDIA*/

.section_social{
    background: #F8EFEF;
    padding: 14px 0;
}
.content_social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_text{
    
    display: flex;
    flex-direction: column;
}
.title_social{
    padding-bottom: 14px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.subtitle_social{
    max-width: 385px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color:#86878B;
}
.social_list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.social_item{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.social_item:hover{
transform: scale(0.8);
}
.social_item img{
    max-width: 64px;
    max-height: 64px;
}
@media only screen and (max-width:798px){
    .social_item img{
        max-width: 40px;
        max-height: 40px;
    }
}
@media only screen and (max-width:350px){
    .content_social{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social_text{
        text-align: center;
    }
    .social_item img{
        max-width: 26px;
        max-height: 26px;
     }
     .title_social{
        padding-bottom: 8px;
     }
     .social_list{gap: 10px;}
}

/*END STYLE SOCIAL MEDIA*/

/* START STYLE TABS MENU */
.section_tabs{
    padding: 125px 0;
}
.tabs_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu_tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu_tabs input[type="radio"] {
    display: none;
  }
  
  .menu_tabs label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    max-width: 110px;
    border-radius: 4px;
    text-align: center;
    padding: 45px 35px;
    background: #333333;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .menu_tabs input[type="radio"]:checked + label {
    background-color: #EC7979;
  }
  
  #tab1:checked ~ .content_tabs {
    display: block;
  }
  .title_tabs{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
  }
  .content_tabs{
    display: flex;
    gap: 50px;
  }
  .text_tabs{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .text_tabs p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    text-transform: uppercase;
    color: #86878B;
  }
.content_field{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
 .content_tabs img{
    display: block;
    margin-top: -25px;
    max-width: 320px;
 }
 .btn_tabs{
   padding: 11px 25px;
   max-width: 135px;
   border-radius: 4px;
    background: #EC7979;
    display: block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn_tabs:hover{
    background-color: #AB4949;
}
@media only screen and (max-width:798px){
    .section_tabs{
        padding: 60px 0;
    }
    .content_field{
        padding: 0 20px;
    }
    .title_tabs{
        font-size: 18px;
    }
    .menu_tabs label {
        padding: 20px;
    }
    .content_tabs img{
        max-width: 200px;
    }
   
}
@media only screen and (max-width:600px){
    .content_tabs img{
        display: none;
    }
    .title_tabs{
        font-size: 14px;
    }
    .text_tabs p{
        font-size: 12px;
    }
}
@media  only screen and (max-width:350px) {
    .section_tabs{
        padding: 30px 0;
    }
    .menu_tabs{
        flex-direction: row;
        max-height: 60px;
    }
    .menu_tabs label {
        padding: 10px;
    }
    .tabs_box{
        flex-direction: column;
        align-items: center;
    }
}

/* END STYLE SECTION TABS*/ 


/* START STYLE SECTION AWESOME*/ 
.section_awesome{
    padding: 80px 0;
}
.awesome_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awesome_box .text{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    color: #86878B;
}
.content_awesome{
    display: flex;
    gap: 36px;
    margin-top: 68px;
}
.box_awesome{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title_box{
    padding-bottom: 16px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    color: #333333;
}
.text_box{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #000000;
}
@media only screen and (max-width:798px){
    .section_awesome{
       padding: 30px 0;
    } 
}
@media only screen and (max-width:600px){
    .content_awesome{
        margin-top: 30px;
        gap: 15px;
    }
    .box_awesome img{
        max-width: 100px;
        max-height: 100px ;
    }
    .title_box{
        text-align: center;
        font-size: 16px;
    }
    .content_awesome{
        flex-direction: column;
    }
  
}

/* END STYLE SECTION AWESOME  */


/* START STYLE PRICE SECTION */

.section_price{
    background-color: #F5F5F5;
    padding: 60px 0;
}
.price_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_price{
    color: #000000;
}
.section_price p{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #86878B;
}

.price_cards{
   padding-top: 65px;
    width: 100%;
    display: flex; 
}
.card{
    width: 33.33333%;
    transition: 2s ease;
}
.card:hover{
    cursor: pointer;
    margin: -20px 30px 0 30px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));

}

.card_title{
   padding: 12px 0;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.card_price{
    padding: 27px 0;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.card_text{
    padding: 13px 0;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.card_subtitle{
    padding: 13px 0;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #86878B;
}
@media  only screen and (max-width:600px){
    .section_price{
        padding: 20px 0;
    }
    .price_cards{
        padding-top: 30px;
    }
}
@media  only screen and (max-width:350px){

.price_container p{
    font-size: 14px;
    text-align: center;
}
.price_cards{
    display: inline-block;
    padding:0;
}
.card{
    padding-top: 24px;
    width: 100%;
}
.card:hover{
    margin: 0;
}
}

   
/* END STYLE PRICE SECTION*/


/* START STYLE CUSTOMERS*/
.section_customers{
    padding: 80px 0;
}
.customer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_customers
{
    color: #212121;
}
.text_line{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #86878B;
}
.content_customers{
    padding-top: 67px;
    display: flex;  
    justify-content: space-between;
}
.swiper-container{
    width: 100%;
}
.item_customer{
    max-width: 298px;
}
.text_customer{
    padding-block: 14px;
    border-radius: 10px;
    max-width: 298px;
    background-color:#E2E2E2 ;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    color: #86878B;
    position: relative;
}
.text_customer::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E2E2E2;
}
.customer{
    text-align: right;
    padding-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name_customer{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
   }
.profession_customer{
    padding-top: 12px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #86878B;
   }
   .swiper{
    width: 100%;
   }
   @media only screen and (max-width:1132px){
    .text_customer{
        max-width: 250px;
    }
    .customer img{
        max-width: 50px;
    }
    .name_customer{
        font-size: 16px;
    }
}
@media  only screen and (max-width:600px){
    .section_customers{
        padding: 20px 0;
    }
    .content_customers{
        padding-top: 27px;
    }
}
@media  only screen and (max-width:350px){
  .text_line{
    text-align: center;
  }
}

/*END STYLE CUSTOMERS*/


/*START STYLE SECTION DESIGN*/

.section_design{
    position: relative;
    background: center url('./../assets/img/background.png');
    background-size: cover;
}
.section_design::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.design_container{
    position: relative;
    z-index: 5;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_design{
    color: #FFFFFF;
}

.line.white{
    border: 1px solid #FFFFFF;
}
.text_design{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.btn_design{
    margin-top: 57px;
}
@media  only screen and (max-width:600px){
    .design_container{
        padding: 20px 0;
        text-align: center;
    }
    .btn_design{
        margin-top: 27px;
    }
}
/*END STYLE SECTION DESIGN*/


/*START STYLR SECTION CONTACTS*/
.section_contacts{
    padding: 44px 0;
}
.contacts_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_contacts{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}
.content_contacts{
    padding: 90px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.data_contacts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 478px;
    width: 100%;
}
.text_field{
  width: 100%;
}
.text_message{
    max-width: 478px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}
.text_message::placeholder{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color:#BDBDBD;
}
.btn_contacts{
    max-width: 100%;
    padding: 11px 32px;
    min-width: 166px;
}
@media only screen and (max-width:600px){
.content_contacts{
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 20px 0;
}

}
/*END STYLE SECTION CONTACTS*/

/*START STYLE FOOTER*/
.footer{
    padding: 30px 0;
    background-color: #000000;
}
.list_links{
    display: flex;
    gap: 30px;
}
.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_container p{
    padding-top: 18px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}
.links_item img{
    cursor: pointer;
 max-width: 30px;
 max-height: 30px;
 transition: all 0.5s ease-in-out;
}
.links_item img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:600px){
    .footer{
        padding: 15px 0;
    }
    .list_links{
        gap: 10px;
        flex-wrap: wrap;
    }
}
/* 

@media only screen and (max-width:350px){
    .footer{
        padding:35px 16px 45px;
    }
    .list_links img{
        max-width: 26px;
        max-height: 26px;
    }
 
    .footer p{
        padding: 45px 0 0 0;
        text-align: center;
    }
} */
/*END STYLE FOOTER*/